<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
  </head>
  <body>
    <%- include("../components/header"); -%>

    <h2>Détails du livre : <%= book.title %></h2>

    <p>Le livre <%= book.title %> est sorti en <%= book.releaseYear %></p>
    <p>Il porte l'id: <%= book.id %></p>
  </body>
</html>
